section.contact
  .content-wrapper
    h1.section-title Contact Me
    p.section-intro ..get in touch with me...
    
    form(action="https://formspree.io/me@philipbelcher.com" method="POST")#contact-form
      .form-group        
        input(type="text" name="name" )
        label Your Name
      .form-group
        input(type="email" name="_replyto" )
        label Your Email Address
      .form-group.form-group-wide        
        textarea(form="contact-form" type="text" name="message" )
        label Your Message
      input(type="submit" value="Send").button
