header
  .header-wrapper
    .menu-wrapper
      h1.logo Philip Belcher


    h2.intro-text Good #[span#timeofday day]!
    
    h3.intro-text I'm Philip Belcher, a designer and developer based in the North East of England
    
    a(href="#skills").button.cta find out more about me&nbsp;&nbsp;
      {% icon fa-caret-down %}
      
    br
    br
    
    a(href="/cv.pdf").button.cta.ctasmall or download my CV&nbsp;&nbsp;
      {% icon fa-cloud-download %}
