mixin work(image, name, info, skills, techs, link)
  li.work
    .card
      .img-container
        img(src="assets/img/portfolio/#{image}").hero
      .content
        h3 #{name}
        p.desc #{info}

        .info
          .info-block
            h4 skills used
            ul.skills-used
              each skill in skills
                li.skill #{skill}
          .info-block
            h4 technology used
            ul.tech-used
              each tech in techs
                li.tech #{tech}

      if link
        a.button(href="#{link}" target="_blank")
          {% icon fa-behance %}
          | &nbsp;&nbsp; view this project in more detail on my behance page


section.portfolio
  .content-wrapper
    h1.section-title Portfolio
    p.section-intro ...here's some of the work I've created over the years...

    ul.grid.portfolio-list

      -var skills = ['web design', 'web development', 'branding', 'graphics design']
      -var tech = ['html/css', 'joomla cms', 'php', 'illustrator']
      +work('ntcpd.jpg','North Tyneside Continuous Professional Development', 'an entire redevelopment of north tyneside’s cpd booking system (conversion from printed catalogues to fully online)', skills, tech, 'https://www.behance.net/gallery/17348651/North-Tyneside-CPD-Website-for-booking-courses-online')

      -var skills = ['web design', 'web development', 'branding', 'graphics design']
      -var tech = ['Jekyll', 'html/css/sass', 'Jade (Pug)', 'Node', 'Gulp']
      +work('pbdotcom.jpg','philipbelcher.com', 'Inception - it is the website you are currently viewing! First time using Jekyll which is a superb framework for simple websites.' , skills, tech, 'https://www.behance.net/gallery/45882757/Philip-Belcher-Personal-Portfolio')

      -skills = ['web design', 'web development', 'graphics design']
      -tech = ['html/css', 'joomla cms', 'php', 'illustrator']
      +work('ntmeh.jpg','North Tyneside Music Education Hub', 'fully responsive redesign of an exisiting website with the addition of a CMS and a focus on dynamic events', skills, tech, 'https://www.behance.net/gallery/44577147/North-Tyneside-Musical-Education-Hub')

      -skills = ['web design', 'web development', 'branding', 'print materials', 'graphics design']
      -tech = ['html/css', 'joomla cms', 'php', 'illustrator', 'photoshop']
      +work('digi-conf-2014.jpg','Digitally Confident Conference 2014', 'fully responsive, content-management website with booking function for a large education conference plus entire branding &amp; promo materials', skills, tech, 'https://www.behance.net/gallery/36317441/Digitally-Confident-Conference-2014')

      -skills = ['web design', 'web development', 'branding', 'print materials', 'graphics design']
      -tech = ['html/css', 'joomla cms', 'php', 'illustrator', 'photoshop']
      +work('buildit.jpg','Build It', 'fully responsive, content-management website with user authentication and open badge integration', skills, tech, 'https://www.behance.net/gallery/37865623/We-Are-Build-It-Website-Branding')

      -skills = ['app development', 'web development']
      -tech = ['ionic framework', 'html/css', 'joomla cms', 'php']
      +work('connexyz.jpg','ConneXYZ', 'cross platform mobile app (iOS and Android) for young children to easily find events and information within their local authority. Data pulled from a website, allowing admins to easily update the content.', skills, tech)

    a(href="https://www.behance.net/philipbelcher").button.cta view more work on my behance page&nbsp;&nbsp;
      {% icon fa-caret-right %}
