mixin skill(image, name, desc)
  li.skill
    .card
      .img-container
        img(src="assets/img/skills/#{image}").hero
      .content
        h3 #{name}
        p #{desc}

section.skills#skills
  .content-wrapper
    h1.section-title skills
    p.section-intro ...let's have a look at some of the things I can do...
    
    ul.grid.skill-list
      +skill('website-creation.jpg','Website Creation', 'Full-stack engineering; designing and developing basic, static webpages through to fully-fledged content management systems')
      +skill('graphics-design.jpg','Graphics Design', 'a firm grasp of the underlying principles of design allows me to create a wide range of graphics')
      +skill('app-creation.jpg','Mobile Apps', 'cross-platform app design and development, meaning they run on both Android and iOS devices')
      +skill('print-media.jpg','Print Media', 'from documents through to large banners and full colour glossy brochures')
      +skill('branding.jpg','Branding', 'including  design, business cards and promotional materials')
      +skill('interactive-media.jpg','Interactive Media', 'games and other forms of interactive media designed to engage with users')
      +skill('illustration.jpg','Illustration', 'sketching and digital art creation')
    
    a(href="#skill-details").button.cta.expandyskills view more skills detail
  
    
section.skill-details#skill-details
  .content-wrapper
    h1.section-title.subsection-title skills in more detail
    p.section-intro ...let's get into the nitty-gritty....
    
    .skills-detail-list
      h2 Website Creation
      ul
        li HTML
        li CSS/SASS/Bourbon
        li Jade/Pug
        li PHP
        li Joomla CMS 
        li Javascript/ jQuery
        li Angular 2
        li Jekyll - This site was built using Jekyll!
        li Django - Starting to develop my skills in this
        li Search Engine Optimisation knowledge
      
      h2 Graphics Design
      ul
        li Adobe Photoshop
        li Adobe Illustrator
          
      h2 Mobile Apps
      ul
        li Ionic 2 framework - Cross-platform hybrid app development
        li Cordova
        li Flex framework
      
      h2 Print Media
      ul
        li Adobe InDesign
        li Large banners
        li Glossy, full-page brochures 
        li Posters
          
      h2 Branding
      ul
        li Logo vector creation
        li Letterheads
        li Business cards
        li Social media branding
        
      br
      
      h2 Interactive Media
      ul
        li Flash animation
        li Adobe After Effects - admittedly at a basic level at this point
        li CSS animation
          
      h2 Illustration
      ul
        li Adobe Photoshop
        li Adobe Illustrator
        li Procreate app on iPad with stylus
      
      h2 Other skills
      ul
        li Knowledge of Version Control - primarily Git
        li Knowledge of Gulp, Bower, NodeJS 
        li Object-Oriented Programming knowledge     
        li Basic networking knowledge 
        li Experience with Windows, OSX, Linux, Android and iOS systems
        li 15+ years of PC troubleshooting
        li 15+ years of computer build experience 
        li Knowledge of current UK education system

    
        
    
        
        
