---
layout: default
title: Philip Belcher
---
<div class="home-wrapper">

   {% include header.html %}

  <div class="home-sections">

    {% include skills.html %}
    {% include portfolio.html %}
    {% include contact.html %}

  </div>

</div>
