html,
body {
  min-height: 100vh;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-size: 14px;
  line-height: 1.6;
  color: $text-colour;
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: #333;
}



h1,h2,h3,h4,h5 {
  font-family: $heading-font-family;
  font-weight: 700;
}

section {
  padding: 20px 20px 40px;
}

section .content-wrapper {

  margin: 0 auto;
  padding: 20px 10px 40px;
  max-width: $max-content-width;

  h1.section-title {
      font-size: 48px;
      line-height: 1.4;
      letter-spacing: -1.5px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
  }

  p.section-intro {
    font-size: 24px;
    letter-spacing: -1px;
  }

  @media(min-width: $widescreen-breakpoint) {
    padding: 40px 40px 80px;

    h1.section-title {
        font-size: 72px;
        line-height: 1;
        letter-spacing: -2px;
        text-align: left;
        padding-left: 20px;
    }

  }
}

.grid>li {
  width:100%;
  margin: 20px auto;
  padding:5px;


}

.card {
  box-shadow: 0 3px 6px rgba(20,20,20,0.35);
  border-radius: 4px;
  background-color: #efefef;
  overflow: hidden;
  transform: translate(0);
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  transition-timing-function: cubic-bezier(.42, 0, .58, 1);

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 15px 15px -10px rgba(20, 20, 20, 0.2);
    transform: translate(0,-2px);
  }

  &:hover .hero {
    transform:scale(1) rotateZ(0deg);

  }

  .img-container {
    overflow: hidden;
  }

  .hero {
    width:100%;
    height: auto;
    display: block;
    transform: scale(1.1) rotateZ(-4deg);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
  }

  .content {
    min-height: 100px;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    line-height: 1;
    margin:20px;
  }

  p {
    font-family: $heading-font-family;
    text-transform: uppercase;
    color: #848891;
    font-size: 12px;
    text-align: center;
    line-height: 1.3;
    margin:40px 20px;
  }



}


/* Just beyond mobile */
@media(min-width: $mobile-breakpoint) {
  .grid > li {
    width:33.33%;
    float: left;
    padding: 20px;
  }

  .grid:after {
    content: "";
    clear: both;
    display: block;
  }

  .card .content {
    min-height: 170px;
  }

  .card h3 {
    font-size: 19px;
  }

}

/* Widescreen */
@media(min-width: $widescreen-breakpoint) {
  .grid li {
    width: 25%;
  }

  .card .content {
    min-height: 140px;
  }
}

/* Super max widescreen */
@media(min-width: $max-content-width) {
  .card h3 {
    font-size: 30px;
  }

}
