.home-cta {
  font-size: 28px;
  display: block;
  background: #ffffff;
  text-align: center;
  padding: 0.4em 0;
  line-height: 1.2;
  letter-spacing: -1px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: 0 5px 14px rgba(0,0,0,0.4);
  }
}

.button {
  border-radius: 4px;
  border: 3px solid #333;
  color: #333;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: $heading-font-family;
  display: inline-block;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: color;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    transform: scaleX(1);
  }

}

a.cta {
  float: none;
  display: block;
  text-align: center;
  margin: 0 20px 40px;
}

/* Just beyond mobile */
@media(min-width: $mobile-breakpoint) {
  a.cta {
    float: right;
    display: inline-block;
    margin: 0 20px 0 40px;;
  }
}

/* Super max widescreen */
@media(min-width: $max-content-width) {
  a.cta {
    width: 50%;
    padding: 20px 40px;
    font-size: 20px;
  }
}
