$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Source Sans Pro', sans-serif;

$primary-colour: #f6c;
$text-colour: #2E2D33;
$bg-color: #efefef;

/* HEADER SECTION */
$header-base-colour: #1D87E4;
$header-complement-colour: #7D57C1;

/* SKILLS SECTION */
$skills-base-colour: #393E4C;
$skills-complement-colour: #FAA800;
$skills-detail-base-colour: #2e323e;

/* PORTFOLIO SECTION */
$portfolio-base-colour: #faa800;
$portfolio-complement-colour: #ffffff;

/* CONTACT SECTION */
$contact-base-colour: #ff2672;


$mobile-breakpoint: 750px;
$widescreen-breakpoint: 1200px;
$max-content-width: 1600px;


/* NICE COLOURS

  FF2672 - hot pink 1
  BE0049 - hot pink 2
  F94840 - peachy red
  270042 - deep purple
  411E62 - midpurple
  5F309A - lightpurple1
  FCEBE1 - creme
  00C3C3 - cyan
  006E86 - dark cyan


*/
