section.contact {

  h1.section-title,
  p.section-intro {
    text-align: center;
  }

  #contact-form {
    max-width: 800px;
    margin: 0 auto;
  }

  input {
    background: none;
    border: solid 2px $contact-base-colour;
    color: $contact-base-colour;
    padding: 15px;
    font-size: 20px;
    display: inline-block;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }

    &[type="text"],
    &[type="email"] {
      border: none;
      border-bottom: solid 2px $contact-base-colour;
    }

    &[type="submit"] {
      cursor: pointer;
      &:active,
      &:focus,
      &:hover {
        color: white;
        background: $contact-base-colour;
      }
    }
  }

  textarea {
    width: 100%;
    border: none;
    background: none;
    border-bottom: solid 2px $contact-base-colour;
    padding: 15px;
    font-size: 20px;
    color: $contact-base-colour;
    outline: none;
  }

  .form-group {
      width: 50%;
      float: left;
      padding:20px;
      display: inline-block;
      position:relative;

      label {
        @include position(absolute, 50% null null 35px);
        @include transform(translateY(-50%));
        font-size: 18px;
        color: #999;
        pointer-events: none;
        @include transition;
      }

      input:focus + label,
      input.not-empty + label  {
        top: 15px;
        font-size: 12px;
        color: #aaa;
      }
      textarea:focus + label,
      textarea.not-empty + label {
        top: 5px;
        font-size: 12px;
        color: #aaa;
      }
  }

  .form-group-wide {
    width: 100%;
    float: none;
  }

  .button {
    color: $contact-base-colour;
  }

}
