.home-wrapper {

  header {
    width: 100%;
    padding: 20px 0 80px;
    background: url('../img/header-bg.png') no-repeat center;
    background-size: cover;
    min-height: 400px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;

    h2.intro-text {
      font-size: 64px;
      line-height: 70px;
      letter-spacing: -4px;
      color: $header-complement-colour;
    }

    h3.intro-text {
      font-size: 35px;
      line-height: 40px;
      padding: 0 20px 40px;
      color: $header-base-colour;
      max-width: 900px;
      text-align: center;
      margin: 20px auto 40px;
    }

    .cta {
      float: none;
      color: $header-complement-colour;
      border-color: $header-complement-colour;
      font-size: 20px;
      letter-spacing: -1px;

      &:before {
        background-color: $header-complement-colour;
      }

      &:hover,
      &:focus,
      &:active {
        color: #ffffff;
      }
    }

    .ctasmall {
      color: #B3B3B3;
      border-color: #B3B3B3;
      font-size: 14px;
      letter-spacing: 0;

      &:before {
        background-color: #B3B3B3;
      }

      &:hover,
      &:focus,
      &:active {
        color: #333333;
      }
    }

    .menu-wrapper {
      display: flex;
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      max-width: 1200px;
      text-align: center;
      margin: 0 auto;
    }

    .logo {
      @include hide-text;

      background: url('../img/pb-logo.png') no-repeat center;
      background-size: contain;
      padding: 0;
      margin: 0 20px 20px;
      height: 120px;
      display: block;
    }

    .nav-toggle-btn {
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 0;
      z-index: 2000;

      i {
        text-align: center;
        color: white;
        width: 100%;
        font-size: 45px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.3);
      }
    }
  }


  .main-menu {
    display: none;
  }

}

/* Header - Desktop Size */
@media(min-width: $mobile-breakpoint) {

  .home-wrapper {
    header {
      .logo {
        height: 160px;
        background-position: left;
      }
    }


  }
}


/* Header - Desktop Widescreen Size */
@media(min-width: $widescreen-breakpoint) {

  .home-wrapper {

    header {
      h2.intro-text {
        font-size: 94px;
        line-height: 100px;
        letter-spacing: -6px;
      }

      h3.intro-text {
        font-size: 55px;
        line-height: 60px;
        margin: 20px auto 40px;
        letter-spacing: -3px;
      }
    }
  }
}
