section.portfolio {
  background: $portfolio-base-colour;

  h1.section-title {
    color: $portfolio-complement-colour;
  }

  p.section-intro {
    color: #ffffff;
    padding-left: 20px;
  }

  .card {
    background-color: #fafafa;

    &:hover .hero {
      transform:scale(1.05) rotateZ(0);
    }

    h3 {
      color: #393e4c;
      font-size: 24px;
      line-height: 1.1;
    }

    p.desc {
      font-size: 14px;
    }

    .info {
      padding: 0;
      height: 100%;
      background-color: #f4f4f4;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 20px;

      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }

    .info-block {
      width: 100%;
      float: left;
      height: 100%;
      padding: 0 10px 40px;

      &:first-child {
        border-right: 1px solid #eeeeee;
      }

      h4 {
        text-align: center;
        color: #a2a5aa;
        text-transform: uppercase;
      }


    }

    .img-container {
        max-height:400px;
    }

    .hero {
      //margin-top:-200px;
    }

    ul.skills-used,
    ul.tech-used {
      list-style: none;
      display: block;
      padding: 0;
      text-align: center;

      li {
        text-transform: uppercase;
        font-size: 10px;
        padding: 5px 10px;
        border-radius: 2px;
        border: 1px solid $portfolio-base-colour;
        color: $portfolio-base-colour;
        font-family: $heading-font-family;
        margin: 10px auto;
        width: 50%;
      }
    }

    a.button {
      background-color: $portfolio-base-colour;
      display: block;
      margin: 40px 20px 20px;
      text-align: center;
      border-color: $portfolio-base-colour;
      color: $portfolio-complement-colour;

      &:before {
        background-color: darken($portfolio-base-colour, 10%);

      }

      &:hover,
      &:focus,
      &:active {
        color: white;
        border-color: darken($portfolio-base-colour, 10%);
      }


    }
  }


  ul.portfolio-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }



  a.button.cta {
    color: $portfolio-complement-colour;
    border-color: $portfolio-complement-colour;

    &:before {
      background-color: $portfolio-complement-colour;
    }

    &:hover,
    &:focus,
    &:active {
      color: $portfolio-base-colour;
    }
  }

  @media(min-width: $mobile-breakpoint) {

    .card .info-block {
        width: 50%;
    }

    .grid > li {
      width:100%;
      float: left;
    }
  }

  @media(min-width: $widescreen-breakpoint) {
    .grid > li {
      width: 50%;


      .card {
        min-height:995px;
      }
    }
  }




}
