section.skill-details {
  display: none;
  background-color: $skills-detail-base-colour;
  color: #ffffff;

  h1.section-title {
    color: $skills-complement-colour;
  }

  p.section-intro {
    color: #ffffff;
    padding-left: 20px;
  }

  h2 {
    color: $skills-complement-colour;
    font-size: 26px;
    line-height: 30px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }
}

section.skills {
  background: $skills-base-colour;

  h1.section-title {
    color: $skills-complement-colour;
  }

  p.section-intro {
    color: #ffffff;
    padding-left: 20px;
  }

  .card {
    background-color: #464B59;

    h3 {
      color: #ffffff;
    }
  }


  ul.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.button {
    color: $skills-complement-colour;
    border-color: $skills-complement-colour;
    cursor: pointer;

    &:before {
      background-color: $skills-complement-colour;
    }

    &:hover,
    &:focus,
    &:active {
      color: $skills-base-colour;
    }
  }

}

@media(min-width: $mobile-breakpoint) {
  section.skill-details {
    .skills-detail-list {
      column-count: 2;
      column-width: 300px;
      column-fill:auto;
      padding-left: 40px;
    }
  }
}
